.container {
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
  background-color: rgba(93, 99, 150, 0.13) !important;
}

.infected {
  border-bottom: 10px solid rgba(255, 166, 0, 0.5);
}

.recovered {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}
