body {
  background-color: rgb(250, 250, 250);
  background-image: url('https://scrip.pharmaintelligence.informa.com/-/media/editorial/stock-images/covid-19/covid19_redcells_1642888921_1200.jpg?w=790&hash=616E216B0EC8C20FEE561DFEF93256AD');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 370px;
  margin-top: 50px;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}
