body {
  background-color: rgb(250, 250, 250);
  background-image: url('https://cdn.pixabay.com/photo/2020/03/19/21/35/covid-4948866_960_720.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(9px);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 370px;
  margin-top: 50px;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}
